/* .no-arrows {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  
  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  } */

  .no-arrows {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  
  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .no-arrows[type=number] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;      /* Other browsers */
  }
  